<!--
this layout is for general purpose. it only has a headline (without login, registration, and contactUs) and copyright bottom
-->

<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/angular-bootstrap/ui-bootstrap-csp.css"/>

    <link rel="stylesheet" href="/styles/style-icons.css"/>
    <link rel="stylesheet" href="/styles/style-shared.css"/>
    <link rel="stylesheet" href="/styles/style-form.css"/>

    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-animate.min.js"></script>
    <script src="/vendor/angular-touch.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/vendor/ng-module/ng-module.js"></script>
    <script src="/vendor/autofill-event/src/autofill-event.js"></script>

</head>

<body>

<%- include ../partial/svg.ejs %>
<div class="header">
    <%- include ../partial/headLineWithLogin.ejs %>
</div>

<div class="page-content" style="padding-bottom: 50px;">
    <%- content %>
</div>


<div class="page-footer">
    <%- include ../partial/copyRight.ejs %>
</div>

</body>

</html>