<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="/vendor/slick-carousel/slick.css"/>
    <link rel="stylesheet" href="/vendor/slick-carousel/slick-theme.css"/>

    <link rel="stylesheet" href="/styles/style-icons.css"/>
    <link rel="stylesheet" href="/styles/style-shared.css"/>
    <link rel="stylesheet" href="/styles/style-home.css"/>


    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-animate.min.js"></script>
    <script src="/vendor/angular-touch.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/vendor/slick-carousel/slick.min.js"></script>
    <script src="/vendor/angular-slick/dist/slick.min.js"></script>
    <script src="/javascripts/home/home-page.js"></script>
</head>

<body ng-app="home" ng-controller="homeController" >
<%-include partial/svg.ejs%>

<div class="header">
   <%-include partial/headLineWithLogin.ejs%>
    <div class="header-search">
        <div class="container">
            <form class="header-search-form">
                <div style="display: inline-block" class="input-group">
                    <input type="text" style="display: block" placeholder="search ..."> </input>
                    <span class="input-group__bar"></span>
                </div>

                <button type="submit" class="text-uppercase" style="box-shadow: none;">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="nav-logo">
                THIS IS THE IMAGE
            </div>

            <div class="nav-menu-container">
                <ul class="nav-menu-list">
                    <li class="nav-menu-item" style="margin-right: 20px;">
                        <a href="" class="wave">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-menu-item">
                        <a>
                            protection
                        </a>
                    </li>
                    <li class="nav-menu-item">
                        <a>
                            categories
                        </a>
                    </li>

                    <li class="nav-menu-item">
                        <a>
                            contacts
                        </a>

                    </li>

                    <li class="nav-menu-item">
                        <a>
                            forums
                        </a>

                    </li>

                    <li class="nav-menu-item">
                        <a>
                            blog
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-content" style="padding-bottom: 300px;">
    <div id="myCarousel">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.src}}" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="newProducts">
        <div class="container">
            <h2 class="title">
                New Products
            </h2>

            <slick infinite=false slides-to-show="4" slides-to-scroll="4" style="height:440px;">
                <div class="product-preview-wrapper">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a>
                                <img src="/images/audio_adapter.jpg" style="width:100%;"> </img>
                            </a>
                        </div>
                        <div class="product-preview__info">
                            <div class="product-title">
                                Aluminum USB Audio Adapter
                            </div>
                            <div class="product-price">
                                $5.99
                            </div>

                        </div>
                    </div>
                </div>

                <div class="product-preview-wrapper">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a>
                                <img src="/images/bedsideLamp.jpg" style="width:100%;"> </img>
                            </a>
                        </div>

                        <div class="product-preview__info">
                            <div class="product-title">
                                LED Atmosphere Bedside Lamp
                            </div>

                            <div class="product-price">
                                $25.99
                            </div>
                        </div>


                    </div>
                </div>


                <div class="product-preview-wrapper">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a>
                                <img src="/images/externalDskCase.jpg" style="width:100%;"> </img>
                            </a>
                        </div>

                        <div class="product-preview__info">
                            <div class="product-title">
                                External Hard Drive Enclosure Case
                            </div>
                            <div class="product-price">
                                $11.99
                            </div>
                        </div>
                    </div>
                </div>


                <div class="product-preview-wrapper">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a>
                                <img src="/images/flashlight.jpg" style="width:100%;"> </img>
                            </a>
                        </div>

                        <div class="product-preview__info">
                            <div class="product-title">
                                LED Handheld Flashlight
                            </div>
                            <div class="product-price">
                                $9.99
                            </div>
                        </div>
                    </div>
                </div>


                <div class="product-preview-wrapper">
                    <div class="product-preview">
                        <div class="product-preview__image">
                            <a>
                                <img src="/images/hub.jpg" style="width:100%;"> </img>
                            </a>
                        </div>

                        <div class="product-preview__info">
                            <div class="product-title">
                                USB 3.0 Hub with RJ45 Ethernet Converter
                            </div>
                            <div class="product-price">
                                $17.99
                            </div>
                        </div>
                    </div>
                </div>
            </slick>

        </div>

    </div>
</div>



<div class="page-footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="title">
                        &nbsp;
                    </h5>
                    <p>
                        Inateck provides all kinds of accessories or upgrades, including Expansion Cards, Power Supplies & Batteries, Hard Drives & SSDs, Cables & Tools etc.

                    </p>
                </div>

                <div class="col-sm-2">
                    <h5 class="title">
                        information
                    </h5>
                    <ul>
                        <li><a href="http://www.inateck.com/impressum">Terms of Use</a></li>
                        <li><a href="http://www.inateck.com/policy">Privacy Policy</a></li>
                        <li><a href="http://www.inateck.com/return-policy">Return Policy</a></li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h5 class="title">
                        company information
                    </h5>
                    <ul>
                        <li class="icon icon-home">F&amp;M Technology LLC 9852 Crescent Park Drive West Chester, OH 45069 U.S.A</li>
                        <li class="icon">F&amp;M TECHNOLOGY GmbH Montgolfierstraße 6, 04509 Wiedemar Germany</li>
                        <li class="icon icon-telephone">+49 34207-673081/+49 34207-673082/+1 513-644-9712</li>
                        <li class="icon icon-mail">Technical Support: <a href="mailto:support@inateck.com">support@inateck.com</a><br>Business Inquiries: <a href="mailto:vendor@inateck.com">vendor@inateck.com</a></li>
                        <!--<li class="icon icon-skype"><a href="#">shop.test</a></li>--></ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <form>
                        <label> SIGN UP FOR NEWSLETTER </label>
                        <input type="email" class="input--wd" placeholder="your email address"/>
                        <button class="btn">SUBSCRIBE</button>
                    </form>
                </div>
                <div class="col-sm-5" style="text-align: right">
                    <%-include partial/social-list-large.ejs%>
                </div>
            </div>
        </div>
    </div>

    <%-include partial/copyRight.ejs%>
</div>


</body>
</html>