<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
    <link rel="stylesheet" href="/styles/style-icons.css"> </link>
    <link rel="stylesheet" href="/styles/style-shared.css"> </link>

</head>

<body>
 <div class="header">
     <div class="header-line">
         <div class="container">
             <div class="pull-left">
                 <ul class="social-link-list">
                    <li class="social-link-item">
                        <a class="icon-facebook">
                        </a>
                    </li>
                     <li class="social-link-item">
                         <a class="icon icon-instagram">
                         </a>
                     </li>
                     <li class="social-link-item">
                         <a class="icon icon-google">
                         </a>
                     </li>
                     <li class="social-link-item">
                         <a class="icon icon-pinterest">
                         </a>
                     </li>
                     <li class="social-link-item">
                         <a class="icon icon-mail">
                         </a>
                     </li>
                 </ul>
             </div>
             <div class="pull-right">
                <ul class="user-link-list">
                    <li class="user-link-item">
                        <a>  sign in </a>

                    </li>
                    <li class="user-link-item">
                        <a> register </a>
                    </li>
                    <li class="user-link-item user-links__item--separate">
                       <a> contact us </a>
                    </li>
                </ul>
             </div>
         </div>
     </div>
 </div>
</body>
</html>