<!--
this layout is for user account related pages
-->

<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/angular-bootstrap/ui-bootstrap-csp.css"/>

    <link rel="stylesheet" href="/styles/style-icons.css"/>
    <link rel="stylesheet" href="/styles/style-shared.css"/>

    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/angular-animate.min.js"></script>
    <script src="/vendor/angular-touch.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
</head>

<body>


</body>

</html>