<%-contentFor("content")%>

<div class="session">
    <h3 style="margin-top: 50px;margin-bottom: 20px">Return Policy</h3>
    <p>Returns may be made within 30-days after delivery. Return items must be in New / Uninstalled condition for credit.</p>
    <p>Factory Orders, Special Layouts (SPLOs) and Made to Order items are non-returnable and will be identified as such at time of sale.</p>
    <p>Refunds are credited using the same form of payment used for the original purchase.</p>
    <p>
        Return processing normally takes 5-7 business days to complete upon return receipt.
        No credit will be issued for incomplete, damaged or installed product returns.
    </p>
    <p>
        The Customer is responsible for prepaid return shipping.
    </p>
    <p>If you need further assistance please contact <b>Customer Support</b></p>
</div>