<%-contentFor("content")%>

<div class="session">
    <h3 style="margin-top: 50px;margin-bottom: 20px">Terms of Service</h3>

    <p>
        Please read the following Terms of Service in full when using HandAcc.com which is owned and operated by F&M Technology GmbH. This agreement documents the legally binding terms
        and conditions attached to the use of the site HandAcc.com.
    </p>
    <p>
        By using or accessing the site in any way, viewing or browsing the site,
        or adding your own content to this site, you are agreeing to be bound by the following Terms of Service.
    </p>


    <h4>Intellectual Property</h4>
    <p>
        The site and all of its original content are the sole property of HandAcc and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.
    </p>

    <h4>Termination</h4>
    <p>
        HandAcc reserves the right to terminate any individual/s access to HandAcc.com without providing advanced notice or explanation.
    </p>

    <h4>Links to Other Websites</h4>
    <p>
        HandAcc.com contains a number of links to other websites and online resources that are not owned or controlled by HandAcc.
    </p>

    <p>
        HandAcc has no control over, and is therefore not responsible or liable for the content or practices of, any third party sites and/or services.
        Therefore, we strongly advise you to read the entire terms and conditions, and privacy policies of any site that you visit as a result of following a link that is posted on our site.
    </p>

    <h4>Changes to This Agreement</h4>
    <p>
        HandAcc reserves the right to modify these Terms of Service at any time. We will do so by posting on and drawing attention to the updated terms on the site.
        Your decision to continue to visit and use the site after changes have been made constitute your formal acceptance of the new Terms of Service.
    </p>

    <p>
        Therefore, we ask that you regularly check and review this agreement for changes. Should you not agree to any provisions found in this agreement or any subsequent changes
        we make to this agreement, we ask and advise that you discontinue your use of HandAcc.com.
    </p>

</div>