<%-contentFor("content")%>
<script src="/javascripts/shared/confirm/confirm-page.js"></script>


<%
if (typeof closeUrl == 'undefined') {
    var closeUrl ="javascript:window.history.go(-2)"
}
%>

<div class="container" style="width:500px;" ng-module="confirm" ng-controller="confirmController">
    <h3 class="page-title text-success">
        <%=title%>
    </h3>

    <div style="font-size: 1.3em;" class="form-group">
        <%=message%>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <a class="btn btn-sm btn-success" href="<%-closeUrl%>"> Close </a>
        </div>
    </div>
</div>