<%-contentFor("content")%>


<div class="container">
    <h3 class="page-title" style="color: #5e5e5e;">
        All Software
    </h3>

    <form class="form-horizontal software-form" style="position: relative;">
            <div id="leftThing" style="position:absolute;left:0;top:0;  min-height: 300px; width:190px; border:1px solid silver; border-radius: 5px;">

                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                </ul>

            </div>
            <div id="content" style=" margin-left:200px; min-height:600px;">
                <table style="width: 80%; border: 2px solid silver; min-height:300px;text-indent: 15px;color: #5e5e5e;">
                    <tr style="border:1px solid silver;">
                        <th style="width: 10%;">Windows</th>
                        <td><ul>
                            <li>1</li>
                            <li>2</li></ul>
                        </td>
                    </tr>
                    <tr style="border:1px solid silver;">
                        <th>Mac OS</th>
                        <td><ul>
                            <li></li>
                            <li></li></ul>
                        </td>
                    </tr>
                    <tr style="border:1px solid silver;">
                        <th>Linux</th>
                        <td><ul>
                            <li></li>
                            <li></li></ul>
                        </td>
                    </tr>
                    <tr style="border:1px solid silver;">
                        <th>Solaris</th>
                        <td><ul>
                            <li></li>
                            <li></li></ul>
                        </td>
                    </tr>
                </table>
            </div>

    </form>
</div>


