<%-contentFor("content")%>

<link rel="stylesheet" href="/styles/style-download.css"/>

<div class="container">
    <div class="form-horizontal" style="position: relative; margin-top: 20px;">
            <div class="left-container">
                <ul class="nav nav-pills nav-stacked left-navigator">
                    <li class="active"><a href="/">USB 3.0 Hub and Ethernet Hub Converter driver</a></li>
                </ul>
            </div>
            <div class="content-container">
                <h4>
                    Driver for 3-Port USB 3.0 Hub and RJ45 10/100/1000 Gigabit Ethernet Hub Converter
                </h4>

                <h5 class="table-title"> Windows</h5>
                <table class="download-table">
                    <tr>
                        <th>Description</th>
                        <th>Version</th>
                        <th>Update Time</th>
                        <th>File Size</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td>Vista and Server 2008 Auto Installation Program (SharedID:1152921504606958125 SID:1152921504625967928)</td>
                        <td>6.17</td>
                        <td>2017/1/20</td>
                        <td>9543k</td>
                        <td>
                            <a href = "/software/products/6/Vista_and_Server_2008.zip">Global </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Win10 Auto Installation Program (SharedID:1152921504606977968 SID:1152921504626019514)</td>
                        <td>10.13</td>
                        <td>2016/12/23</td>
                        <td>9589k</td>
                        <td>
                            <a href = "/software/products/6/Win10.zip">Global </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Win7 and Server 2008 R2 Auto Installation Program (SharedID:1152921504606978535 SID:1152921504626026506)</td>
                        <td>7.27</td>
                        <td>2016/12/23</td>
                        <td>9560k</td>
                        <td>
                            <a href = "/software/products/6/Win7_and_Server_2008 R2.zip">Global </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Win8, Win8.1 and Server 2012 Auto Installation Program (SharedID:1152921504606978170 SID:1152921504626026623)</td>
                        <td>8.34</td>
                        <td>2016/12/23</td>
                        <td>9597k</td>
                        <td>
                            <a href = "/software/products/6/Win8.zip">Global </a>
                        </td>
                    </tr>
                    <tr>
                        <td>XP Auto Installation Program (SharedID:1152921504606958125 SID:1152921504625967928)</td>
                        <td>5.13</td>
                        <td>2016/12/23</td>
                        <td>9461k</td>
                        <td>
                            <a href = "/software/products/6/XP.zip">Global </a>
                        </td>
                    </tr>
                </table>
                <br/>
                <h5> Linux(Unix)</h5>
                <table class="download-table">
                    <tr>
                        <th>Description</th>
                        <th>Version</th>
                        <th>Update Time</th>
                        <th>File Size</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td>LINUX driver for kernel up to 4.8</td>
                        <td>2.08.0</td>
                        <td>2016/12/28</td>
                        <td>34k</td>
                        <td>
                            <a href = "/software/products/6/Linux.bz2">Global </a>
                        </td>
                    </tr>
                </table>
                <br/>
                <h5> Others </h5>
                <table class="download-table">
                    <tr>
                        <th>Description</th>
                        <th>Version</th>
                        <th>Update Time</th>
                        <th>File Size</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td>MAC OS 10.6 to 10.12</td>
                        <td>1.0.16</td>
                        <td>2016/11/16</td>
                        <td>181k</td>
                        <td>
                            <a href = "/software/products/6/Mac.zip">Global </a>
                        </td>
                    </tr>
                    <tr>
                        <td>UEFI UNDI Driver</td>
                        <td>2.019</td>
                        <td>2016/7/14</td>
                        <td>60k</td>
                        <td>
                            <a href = "/software/products/6/Uefi.zip">Global </a>
                        </td>
                    </tr>
                </table>

                <div style="margin-top: 30px;">
                    <h4>Comment: </h4>
                    <p>
                        According to our testing,  Apple Macbooks can automatically recognize the device without any driver installation.
                        <br/>
                        For windows machines, driver installation is needed.
                        <br/>
                        If the machine can't recognize the new device automatically (even after driver installation), try unplug-replug the device multiple times.

                    </p>
                </div>

            </div>

    </div>
</div>


