<%-contentFor("content")%>


<div class="container">
    <h3 class="page-title">
        All Software
    </h3>

    <form class="form-horizontal software-form" style="position: relative;">
            <div id="leftThing" style="position:absolute;left:0;top:0;  min-height: 300px; width:190px; border:1px solid silver; border-radius: 5px;">

                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                </ul>

            </div>
            <div id="content" style=" margin-left:200px; height:600px;">
                driver
            </div>

    </form>
</div>


