<%-contentFor("content")%>


<div class="container" >
    <h3 class="page-title" style="text-align: center">
        All Products
    </h3>

    <div class="list-wrapper">
        <ul class="product-list">
            <li class="product-list-item">
               a
            </li>

            <li class="product-list-item">
                B
            </li>
        </ul>
    </div>

</div>


