<%-contentFor("content")%>

<link rel="stylesheet" href="/styles/style-product-preview-image.css"/>
<link rel="stylesheet" href="/styles/style-product-preview-slick.css"/>
<link rel="stylesheet" href="/styles/style-product.css"/>



<div class="container" >
    <h3 class="page-title" style="text-align: center">
        All Products
    </h3>

    <div>
        <div class="product-preview-wrapper">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/audio_adapter.jpg" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-preview__info">
                    <div class="product-title">
                        Aluminum USB Audio Adapter
                    </div>
                    <div class="product-price">
                        $5.99
                    </div>

                </div>
            </div>
        </div>

        <div class="product-preview-wrapper">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/bedsideLamp.jpg" style="width:100%;"> </img>
                    </a>
                </div>

                <div class="product-preview__info">
                    <div class="product-title">
                        LED Atmosphere Bedside Lamp
                    </div>

                    <div class="product-price">
                        $25.99
                    </div>
                </div>


            </div>
        </div>


        <div class="product-preview-wrapper">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/externalDskCase.jpg" style="width:100%;"> </img>
                    </a>
                </div>

                <div class="product-preview__info">
                    <div class="product-title">
                        External Hard Drive Enclosure Case
                    </div>
                    <div class="product-price">
                        $11.99
                    </div>
                </div>
            </div>
        </div>


        <div class="product-preview-wrapper">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/flashlight.jpg" style="width:100%;"> </img>
                    </a>
                </div>

                <div class="product-preview__info">
                    <div class="product-title">
                        LED Handheld Flashlight
                    </div>
                    <div class="product-price">
                        $9.99
                    </div>
                </div>
            </div>
        </div>


        <div class="product-preview-wrapper">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/hub.jpg" style="width:100%;"> </img>
                    </a>
                </div>

                <div class="product-preview__info">
                    <div class="product-title">
                        USB 3.0 Hub with RJ45 Ethernet Converter
                    </div>
                    <div class="product-price">
                        $17.99
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


