<%- contentFor("content") %>

<link rel="stylesheet" href="/styles/style-product-preview-image.css"/>
<link rel="stylesheet" href="/styles/style-product-preview-slick.css"/>
<link rel="stylesheet" href="/styles/style-product.css"/>

<script src="/javascripts/product/list-page.js"></script>

<div class="container" ng-module="list" ng-controller="listController"
     ng-init="products=<%= JSON.stringify(products) %>">

    <h3 class="page-title" style="margin-bottom: -20px;">
        All Products
    </h3>


    <div  class="header-search-form-wrapper" style="text-align: right;">
        <form class="header-search-form" action="/products/search" method="get">
            <div style="display: inline-block" class="input-group">
                <input type="text" style="display: block" name="keyword" placeholder="search ..."> </input>
                <span class="input-group__bar"></span>
            </div>

            <button type="submit" class="text-uppercase" style="box-shadow: none;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>


    <div style="margin-top: 30px;">
        <div class="product-preview-wrapper" ng-repeat="p in products" style="width: 285px; height:440px;">
            <div class="product-preview">
                <div class="product-preview__image">
                    <a href="/products/{{p.id}}/detail">
                        <img ng-src="{{p['summary_image']}}" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-preview__info">
                    <div class="product-title" ng-bind="p['summary_name']">

                    </div>
                    <div class="product-price">
                        <div class="invisible product-preview-cart" style="margin-right: 15px;">
                            <a href="{{p.buyUrl}}">
                                <span class="glyphicon glyphicon-shopping-cart" style="font-size:1.3em"></span>
                            </a>
                        </div>

                        <span ng-bind="p.oldPrice" class="overridden-Price" style="margin-right: 15px;"></span>

                        <span class="price" ng-bind="p.price"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>