<%-contentFor("content")%>

<link rel="stylesheet" href="/styles/style-product-preview-image.css"/>
<link rel="stylesheet" href="/styles/style-product-preview-slick.css"/>
<link rel="stylesheet" href="/styles/style-product.css"/>



<div class="container" >
    <h3 class="page-title" style="text-align: center">
        All Products
    </h3>

    <div>
        <div class="product-wrapper">
            <div class="product-image-wrapper">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/audio_adapter.jpg" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-price">
                    $5.99
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title">
                    Aluminum USB Audio Adapter with 3.5mm Headphone and Microphone
                </p>

                <p>
                    Features:
                </p>
            </div>
        </div>


        <div class="product-wrapper">
            <div class="product-image-wrapper">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/bedsideLamp.jpg" style="width:100%;"> </img>
                    </a>
                </div>

                <div class="product-price">
                    $25.99
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title">
                    Bedside Lamp with Touch Sensor
                </p>
                <p>
                    Features:
                </p>
            </div>
        </div>



        <div class="product-wrapper">
            <div class="product-image-wrapper">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/externalDskCase.jpg" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-price">
                    $11.99
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title">
                    Waterproof Floating Cellphone Case
                </p>
                <p>
                    Features:
                </p>
            </div>
        </div>



        <div class="product-wrapper">
            <div class="product-image-wrapper">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/flashlight.jpg" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-price">
                    $9.99
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title">
                    500 Lumens Handheld Flashlight with Bike Mount Holder

                </p>
                <p>
                    Features:
                </p>
            </div>
        </div>



        <div class="product-wrapper">
            <div class="product-image-wrapper">
                <div class="product-preview__image">
                    <a>
                        <img src="/images/hub.jpg" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-price">
                    $17.99
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title">
                    3-Port USB 3.0 Hub and RJ45 10/100/1000 Gigabit Ethernet Hub Converter
                </p>

                <p>
                    Features:
                </p>
            </div>
        </div>
    </div>

</div>


