<%- contentFor("content") %>

<link rel="stylesheet" href="/styles/style-product-detail.css"/>
<script src="/javascripts/product/productDetail-page.js"></script>
<div ng-app="productDetail" ng-controller="detailController"
      ng-init="product=<%=JSON.stringify(product)%>">
    <h3 class="page-title" style="text-align: center">
        <%-product.name%>
    </h3>
    <div class="container">
        <div class="image-container">
            <ul class="thumbnail-list">
                <li ng-repeat="i in product.images">
                    <span  class="thumbnail-button" ng-class="{active: $index==currentIndex}" ng-mouseover="clickImage($index)">
                        <img ng-src="{{i}}" />
                    </span>
                </li>

            </ul>
            <div class="image-display">
                <img ng-src="{{product.images[currentIndex]}}"/>
            </div>

        </div>

        <div class="detail-container">
            features
        </div>
    </div>
</div>