<%- contentFor("content") %>

<link rel="stylesheet" href="/styles/style-product-detail.css"/>
<script src="/javascripts/etalag/jquery.elevatezoom.js"></script>
<script src="/javascripts/product/productDetail-page.js"></script>
<script src="/javascripts/etalag/etalag.js"></script>

<div ng-app="productDetail" ng-controller="detailController"
      ng-init="product=<%=JSON.stringify(product)%>">
    <h3 class="page-title" style="text-align: center">
        <%-product.name%>
    </h3>
    <div class="container">
        <div class="image-container">
            <div class="etalag-display">
                <img id="zoom"  ng-src="{{product.images[0]}}" data-zoom-image="{{product.images[0]}}">

                <div id="gallery" class="thumbnail-list">
                    <a class="thumbnail-button" href="#" ng-repeat="i in product.images"  data-image="{{i}}" data-zoom-image="{{i}}">
                        <img class="img_01" ng-src="{{i}}" />
                    </a>
                </div>
                <div class="image-display">
                </div>
            </div>
            <!--<ul class="thumbnail-list">
                <li ng-repeat="i in product.images">
                    <span  class="thumbnail-button" ng-class="{active: $index==currentIndex}" ng-mouseover="clickImage($index)">
                        <img ng-src="{{i}}" />
                    </span>
                </li>

            </ul>-->
            <!--<div class="image-display">
                    <img ng-src="{{product.images[currentIndex]}}"/>
            </div>-->
        </div>

        <div class="detail-container">
            <p class="text-info">
                Features:
            </p>


            <ul class="feature-list">
                <li ng-repeat="f in product.features">
                    <span class="feature-item" ng-bind="f">
                    </span>
                </li>
            </ul>

            <p>
                <span class="text-info"> Dimension:  </span>
                <span ng-bind="product.dimension"></span>
            </p>

            <p>
                <span class="text-info"> Price:  </span>
                <span ng-bind="product.oldPrice" class="overridden-Price"></span>
                <span> &nbsp; &nbsp;
                </span>
                <span class="price" ng-bind="product.price"></span>
            </p>

            <p>
                <a href="{{product.buyUrl}}">
                    <span class="glyphicon glyphicon-shopping-cart" ></span>
                </a>
            </p>

        </div>
    </div>
</div>