<%- contentFor("content") %>

<link rel="stylesheet" href="/styles/style-product-preview-image.css"/>
<link rel="stylesheet" href="/styles/style-product-preview-slick.css"/>
<link rel="stylesheet" href="/styles/style-product.css"/>

<script src="/javascripts/product/search-page.js"></script>

<div class="container" ng-module="search" ng-controller="searchController"
     ng-init="condition=<%=JSON.stringify(condition)%>; ">
    <h3 class="page-title" style="margin-bottom: -20px;" >
        Search results
    </h3>

    <div style="text-align: right" class="header-search-form-wrapper">
        <form class="header-search-form" action="/products/search" method="get">
            <div style="display: inline-block" class="input-group">
                <input type="text" style="display: block" name="keyword" ng-model="condition.keyword" placeholder="search ..."> </input>
                <span class="input-group__bar"></span>
            </div>

            <button type="submit" class="text-uppercase" style="box-shadow: none;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
    </div>

    <div>
        <div class="product-wrapper" ng-repeat="p in condition.products">
            <div class="product-image-wrapper">
                <div class="product-preview__image" style="padding-top: 0">
                    <a>
                        <img ng-src="{{p.summary_image}}" style="width:100%;"> </img>
                    </a>
                </div>
                <div class="product-price">
                    <span ng-bind="p.oldPrice" class="overridden-Price"></span>
                    <span> &nbsp; &nbsp;
                    </span>
                    <span class="price" ng-bind="p.price"></span>
                </div>
            </div>
            <div class="product-info-wrapper">
                <p class="product-title" ng-bind="p.name">

                </p>

                <p class="text-info">
                    Features:
                </p>


                <ul class="feature-list">
                    <li ng-repeat="f in p['summary_features']">
                        <span class="feature-item" ng-bind="f">

                        </span>
                    </li>

                </ul>

                <div>
                    <a href="/products/{{p.id}}/detail">
                        ...
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{p.buyUrl}}">
                        <span class="glyphicon glyphicon-shopping-cart" style="font-size:1.3em"></span>
                    </a>
                </div>


            </div>
        </div>



    </div>

</div>


