<script src="/javascripts/partial/headLineWithLogin-page.js"></script>
<script src="/vendor/ngstorage/ngStorage.min.js"></script>


<div class="header-line" ng-module="headLine" ng-controller="headLineController"
    ng-init="token=<%=JSON.stringify(token)%>">

    <div class="container">
        <div class="pull-left">
            <%-include social-list.ejs%>
        </div>
        <div class="pull-right">
            <ul class="user-link-list">

                <% if(!token.firstName){ %>
                    <li class="user-link-item">
                        <a href="/users/login"> login </a>
                    </li>
                <% } else{ %>
                    <li class="user-link-item">
                      <span ng-bind="'Hello, '"></span>
                        <a href="/users/profile" style="margin-right:200px;" ng-bind="token.firstName"></a>
                    </li>

                     <li class="user-link-item">
                        <a href="/users/logoff">Logoff</a>
                    </li>
                <% } %>

                <li class="user-link-item">
                    <a href="/users/registration"> register </a>
                </li>

                <li class="user-link-item user-links__item--separate">
                    <a href="/support/contactUs"> contact us </a>
                </li>

                <% if(!isRoot){ %>
                    <li class="user-link-item">
                        <a class="icon icon-home"  href="/">
                        </a>
                    </li>
                <% } %>

            </ul>
        </div>
    </div>
</div>