<script src="/vendor/angular-cookies/angular-cookies.min.js"></script>
<script src="/javascripts/partial/headLineWithLogin-page.js"></script>


<div class="header-line" ng-module="headLine" ng-controller="headLineController">

    <div class="container">
        <div class="pull-left">
            <%- include social-list.ejs %>
        </div>
        <div class="pull-right">
            <ul class="user-link-list">

                <li class="user-link-item" ng-if="!token.id">
                    <a href="/users/login" ng-bind=" 'Login' "> </a>
                </li>

                <li class="user-link-item" ng-if="token.id">
                    <span ng-bind="'Hello, '"></span>
                    <a href="/users/profile" style="margin-right:200px;" ng-bind="token.firstName"></a>
                </li>

                <li class="user-link-item" ng-if="token.id">
                    <a href="/users/logoff">Logoff</a>
                </li>


                <li class="user-link-item">
                    <a href="/users/registration"> register </a>
                </li>

                <li class="user-link-item user-links__item--separate">
                    <a href="/support/contactUs"> contact us </a>
                </li>

                <% if(!isRoot){ %>
                <li class="user-link-item">
                    <a class="icon icon-home" href="/">
                    </a>
                </li>
                <% } %>

            </ul>
        </div>
    </div>
</div>

<script>
    //workaround for firefox, safari to execute js file when page is loaded from fb-cache
    window.onunload = function(){};
</script>