<ul class="social-link-list social-link-list-large">
    <li class="social-link-item">
        <a class="icon-facebook" href="https://www.facebook.com/Handaccofficial-1265290523554858">
        </a>
    </li>

    <!--
    <li class="social-link-item twitter ">
        <a>
            <svg viewBox="0 0 19 15">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social-link-item ">
        <a class="icon icon-instagram">
        </a>
    </li>
    <li class="social-link-item ">
        <a class="icon icon-google">
        </a>
    </li>
    <li class="social-link-item ">
        <a class="icon icon-pinterest">
        </a>
    </li>
    -->

</ul>