body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    position:relative
}


.header {
    background-color: transparent;
    color: #212121;
}

.page-content {

}

.page-footer {
    padding-bottom: 20px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.container {
    width: 1170px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/**
style for header. we assume the header has two part: header-line and menu bar.
the menu bar has a left part and a right part
**/


.header-line {
    position: relative;
    z-index: 1;
    min-height: 40px;
    padding: 11px 0 10px;
    background-color: #2b383e;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    color: white;
}

.social-link-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-link-list .social-link-item {
    display: inline-block;
    margin-right: 1.538em;
    text-align: center;
    font-size: 1.154em;
}

.social-link-item {
    cursor: pointer;
}

.social-link-item a {
    color: white;
    cursor:pointer;
}

.social-link-item a:hover {
    color: #337ab7;
}

.social-link-item svg {
    width: 20px;
    height: 20px;
}

.social-link-item svg {
    width: 21px;
    height: 21px;
    margin-top: 4px;
}

.social-link-item.twitter svg {
    width: 22px;
    height: 14px;
}

.social-link-list-large .social-link-item.twitter svg {

}

.social-link-item.twitter a svg {
    fill: #fff;
}

.social-link-item.twitter a svg:hover {
    fill: #0076cc;
}

.social-link-list-large .social-link-item {
    font-size: 1.385em;
    line-height: 2em;
}


.user-link-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-link-list .user-link-item {
    display: inline-block;
    margin-left: 1em;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.846em;

}

.user-link-item a {
    color: white;
}

.user-link-list .user-links__item--separate {
    margin-left: 3em;
}

.header-line a {
    cursor: pointer;
}

/* style for the main menu bar */
.header-search {
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    margin-bottom: -82px;
    margin-top: 32px;
    text-align: right;
    font-size: 1.154em;
}


.header-search-form-wrapper {
    font-size:1.154em;
}


.header-search-form {
    display: inline-block;
    width: auto;
    margin:0;
}

.header-search-form input {
    border: none;
    border-bottom: 1px solid #e3e3e3;
    color:#636363;
    padding-bottom: 5px;
    vertical-align: top;
}

.header-search-form input:focus {
    outline: none;
}

.header-search-form .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    vertical-align: top;
}

.header-search-form button span {
    width:15px;
    height:18px;
}

.input-group__bar {
    position: relative;
    display: block;
    width: 100%;
}
.input-group__bar:before,
.input-group__bar:after {
    background: #0076cc;
}

.input-group__bar:before,
.input-group__bar:after {
    display: block;
    content: ' ';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.2s ease;
}
.input-group__bar:before {
    left: 50%;
}
.input-group__bar:after {
    right: 50%;
}


.input-group input:focus ~ .input-group__bar:before,
.input-group input:focus ~ .input-group__bar:after,
.input-group textarea:focus ~ .input-group__bar:before,
.input-group textarea:focus ~ .input-group__bar:after {
    width: 50%;
}

.header-search-form button {
    border: 0px none #FFF;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    list-style: outside none none;
    margin: -10px 0;
    outline: 0px none #FFF;
    padding: 12px 14px;
    background-color: transparent;
}

.header-search-form button svg {
    width: 20px;
    height: 20px;
}

.header-nav {
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    font-size: 1.154em;
}

.nav-logo {
    display: inline-block;
    margin-right: 22px;

}

.nav-menu-container {
    display: inline-block;
}

.nav-menu-list {
    list-style: none;
}

.nav-menu-item {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
}

.nav-menu-item svg {
    width: 15px;
    height: 15px;
}

.nav-menu-item a {
    color: #212121;
}

.nav-menu-item a:hover {
    color: #0076cc;
    text-decoration: none;
    cursor: pointer;
}




.carousel-indicators li {
    background-color: black;
    border:none;
}

.carousel-indicators .active {
    background-color: blue;
}





.footer-subscribe {
    background-color: #2b383e;
    padding: 10px 0;
}

.footer-subscribe form {
    padding: 0;
    margin:0;
    color:white;
}

.footer-subscribe input {
    height:40px;
    color: #2b2b2b;
    outline:none;
}

.footer-subscribe button {
    height:40px;
    background: #0076cc none repeat scroll 0% 0%;
    vertical-align: top;
    padding:6px;
}


.footer-subscribe button:hover {
    color:white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00a6ff;
}

.footer-subscribe li a {
    height:40px;
    line-height:40px;
}

.footer-bottom {
    background-color: #ffffff;
    color: #2b2b2b;
    padding-top:20px;
}

.input--wd {
    appearance: none;
    padding: 9px 12px;
    font-size: 1.214em;
    line-height: 1em;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}



.footer-info {
    background-color: #374850;
    color: #bbc2c6;
}

.footer-info .row {
    padding:10px 0;
}

.footer-info .title{
    text-transform: uppercase;
    color:white;
}

.footer-info ul{
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.footer-info li {
    padding-bottom: 4px;
    padding: 0 0 4px;
    font-weight: lighter;
}

.footer-info li.icon {
    padding-bottom:4px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.4em;
    position:relative;
    margin-left:20px;
}

.footer-info li.icon:before {
    font-family: 'Welldone';
    position: absolute;
    font-size: 1em;
    left: 0;
    color:white;
   margin-left:-20px;
}


.footer-info li.icon-telephone {
    color: #00a0ff;
}


.footer-info a {
    color: #bbc2c6;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
}

.session {
    width: 1170px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-left: 120px;
    margin-bottom: 80px;
}

.invisible {
    display: none;
}

.visible-block {
    visibility: visible !important;
    display: block;
}

.glyphicon-shopping-cart {
    font-size:1.3em
}

.price {
    color:green;
}
.overridden-Price {
    color:darkred;
    text-decoration: line-through
}

.input-error {
    padding:0;
    margin:0;
    padding-top: 3px;
    color: darkred;
}

.bk-urgent {
    background-color: red;
}

.bk-high{
    background-color: orange;
}

.bk-normal {
    background-color: blanchedalmond;
}