.newProducts {
    padding-top: 75px;
}

.newProducts .title {
    text-transform: uppercase;
    font-size: 2.308em;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 20px;
}

.product-preview-wrapper {
    display: inline-block;
    padding: 0 15px 20px 15px;
}

.product-preview {
    border-top: 1px solid #dfdfdf;
    position: relative;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.product-preview:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.product-preview__info {
    border-top-color: #dfdfdf;
    background: #ffffff;
    text-align: center;
}

.product-preview__info {
    position: absolute;
    bottom: 0;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    padding: 30px 30px 20px 30px;
    border-radius: 0 0 5px 5px;
}

.product-preview:hover .product-preview__info {
    padding: 50px 30px 40px 30px;
}