
.newProducts {
    padding-top: 75px;
}

.newProducts .title {
    text-transform: uppercase;
    font-size: 2.308em;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 20px;
}






