<%-contentFor("content")%>
<div class="container" style="width:500px;">
    <h3 class="page-title text-success">
        Contact Us Confirmation
    </h3>

    <div style="font-size: 1.3em; ">
        Thank you for contacting us. Your message has been successfully forwarded to our Customer Support.
    </div>
</div>
