<%-contentFor("content")%>
<script src="/javascripts/user/issue-page.js"></script>

<link rel="stylesheet" href="/vendor/angular-ui-select/dist/select.min.css"/>

<script src="/vendor/angular-ui-select/dist/select.min.js"></script>
<style>
    .btn, .form-control {
        padding-left: 3px;
    }
    .ui-select-bootstrap .ui-select-choices-row>span {
        padding-left: 5px;
    }


</style>
<div class="container" style="width:500px;">
    <h3 class="page-title">
        Report Product Issue
    </h3>

    <form class="form-horizontal login-form" ng-app="issue" ng-controller="issueController">
        <div class="form-group">
            <label class="control-label col-sm-4">Your name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" ng-model="name" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" name="email" ng-model="email">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="phone" ng-model="phone">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Product <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="product">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Priority</label>
            <div class="col-sm-4">
                <ui-select ng-model="priority" theme="bootstrap" style="width: 200px">
                    <ui-select-match>
                        <span style="width:20px;" ng-class="{'bk-normal':$select.selected.id=='0','bk-high':$select.selected.id=='1','bk-urgent':$select.selected.id=='2' }"> &nbsp; &nbsp;  &nbsp;  </span>  <span ng-bind="$select.selected.title"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="p in (priorities | filter: $select.search) track by p.id">
                       <span style="width:20px;" ng-class="{'bk-normal':p.id=='0','bk-high':p.id=='1','bk-urgent':p.id=='2' }">  &nbsp; &nbsp;  &nbsp;</span> <span ng-bind="p.title"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Your message <span class="text-danger">*</span></label>
            <div class="col-sm-12" >
                <textarea  class="form-control" name="message" style="height:200px; resize: vertical" ng-model="message"> </textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <a class="btn btn-sm btn-warning" href="/"> Cancel </a>
                <button class="btn btn-sm btn-primary"> Submit </button>
            </div>
        </div>

    </form>
</div>


