<%-contentFor("content")%>
<script src="/javascripts/support/issue-page.js"></script>

<link rel="stylesheet" href="/vendor/angular-ui-select/dist/select.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<script src="/vendor/angular-ui-select/dist/select.min.js"></script>
<style>

    .btn, .form-control {
        padding-left: 3px;
    }
    .ui-select-bootstrap .ui-select-choices-row>span {
        padding-left: 5px;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 34px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
    }

</style>
<div class="container" style="width:500px;">
    <h3 class="page-title">
        Report Product Issue
    </h3>

    <form class="form-horizontal login-form" name="issueForm" ng-app="issue" ng-controller="issueController as vm" novalidate="true"
            ng-init="vm.products=<%=JSON.stringify(products)%>"
            action="/support/issue" method="post">

        <div class="form-group">
            <label class="control-label col-sm-4">Your name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="user" ng-model="vm.user" required/>
                <p class="input-error" ng-show="issueForm.user.$error.required && vm.submitted" ng-bind="'required'">
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Contact <span class="text-danger"> * </span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control contact-validator"  name="contact" ng-model="vm.contact" placeholder="email/phone" required>
                <p class="input-error" ng-show="issueForm.contact.$error.required && vm.submitted" ng-bind="'required'">
                </p>
                <p class="input-error" ng-show="issueForm.contact.$error.contact && vm.submitted" ng-bind="'invalid email/phone'">
                </p>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-4"> Product <span class="text-danger">*</span></label>
            <div class="col-sm-8">

                <ui-select  ng-model="vm.selectedProduct" theme="select2" style="width:100%;">
                    <ui-select-match>
                        <span ng-bind="$select.selected['summary_name']"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="p in vm.products | filter: $select.search track by p.id">
                        <div style="position: relative; min-height:40px;">
                            <img ng-src="{{p.thumbnail}}" style="width: 40px; left:0; top:3px; position: absolute"/>
                            <p ng-bind="p['summary_name']" style="margin-left: 44px;"></p>
                        </div>
                    </ui-select-choices>
                </ui-select>

                <input type="text" class="form-control" name="product" ng-model="vm.selectedProduct.identity" required style="display: none;">

                <p  class="input-error"  ng-show="issueForm.product.$error.required && vm.submitted" ng-bind="'required'">
                </p>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Priority</label>
            <div class="col-sm-4">
                <ui-select  ng-model="vm.selectedPriority" theme="bootstrap" style="width: 200px">
                    <ui-select-match>
                        <span style="width:20px;" ng-class="{'bk-normal':$select.selected.id=='0','bk-high':$select.selected.id=='1','bk-urgent':$select.selected.id=='2' }"> &nbsp; &nbsp;  &nbsp;  </span>  <span ng-bind="$select.selected.value"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="p in vm.priorities | filter: $select.search track by p.value">
                        <span style="width:20px;" ng-class="{'bk-normal':p.id==0,'bk-high':p.id==1,'bk-urgent':p.id==2 }">  &nbsp; &nbsp;  &nbsp;</span> <span ng-bind="p.value"></span>
                    </ui-select-choices>
                </ui-select>

                <input name="priority" ng-model="vm.selectedPriority.value" style="display: none;"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"> Your message <span class="text-danger">*</span></label>
            <div class="col-sm-12" >
                <textarea  class="form-control" name="message" style="height:200px; resize: vertical" ng-model="vm.message" required> </textarea>
                <p class="input-error" ng-show="issueForm.message.$error.required && vm.submitted" ng-bind="'required'">
                </p>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
                <a class="btn btn-sm btn-warning" href="javascript:window.history.back()"> Cancel </a>
                <button class="btn btn-sm btn-primary" ng-click="vm.submit(issueForm.$valid, $event)"> Submit </button>
            </div>
        </div>


    </form>
</div>


